In [ ]:
#list comphrension is same like for loop only
#but list comphrension can be writter in single line but for loop will be writter in
#multiple lines

In [2]:
my_list=[1,2,3,4,6,8]
print(my_list)

[1, 2, 3, 4, 6, 8]

In [3]:
#for loop example to diffrentiate the the coming list comphrehension example'
for i in my_list:
  i=i**2
  print(i)

1
4
9
16
36
64

In [4]:
# same above code using the list comphrension
comph=[i**2 for i in my_list]
print(comph)

[1, 4, 9, 16, 36, 64]

In [5]:
print(my_list)

[1, 2, 3, 4, 6, 8]

In [6]:
#lets see first with the for loop after we can verify with the list comphrension
for i in my_list:
  i=i**2
  if i%2==0:
    print(i)

4
16
36
64

In [7]:
#lets do the same above task with the list comphrension

list1=[i**2 for i in my_list if i%2==0]
print(list1)

[4, 16, 36, 64]

In [9]:
print(list1)
print(list2)

['apple', 'banana', 'cherry']
['red', 'big', 'tasty']

In [11]:
list1=[1,2,3,4]
list2=[3,4,5,6]
print(list1)
print(list2)

[1, 2, 3, 4]
[3, 4, 5, 6]

In [12]:
for i in list1:
  print(i)

1
2
3
4

In [15]:
#nested for loop

list1=['apple',"banana",'cherry',"mango"]
list2=['red',"big",'tasty',"very tasty"]

In [17]:
for i in list1:
  for j in list2:
    print(i,j)

apple red
apple big
apple tasty
apple very tasty
banana red
banana big
banana tasty
banana very tasty
cherry red
cherry big
cherry tasty
cherry very tasty
mango red
mango big
mango tasty
mango very tasty

In [14]:
for i in list1:
  print(i)

apple
banana
cherry

In [10]:
for i in list1:
  for j in list2:
    print(i,j)

apple red
apple big
apple tasty
banana red
banana big
banana tasty
cherry red
cherry big
cherry tasty

In [18]:
for i in range(2):
  print(i)

0
1

In [ ]:
#example of list comphrension

#before that lets see the same exasmple in for loop'

In [19]:
my_string="gurwinder is yuvaraj fan"
print(my_string)

gurwinder is yuvaraj fan

In [20]:
for i in my_string:
  print(i)

g
u
r
w
i
n
d
e
r

i
s

y
u
v
a
r
a
j

f
a
n

In [22]:
#lets see the same example with list comphrension
string_comph=[i for i in my_string]
print(string_comph)

['g', 'u', 'r', 'w', 'i', 'n', 'd', 'e', 'r', ' ', 'i', 's', ' ', 'y', 'u', 'v', 'a', 'r', 'a', 'j', ' ', 'f', 'a', 'n']

In [ ]:
# we can also use this list comphrension to get a tuple as well
#lets see

In [23]:
my_tuple=('gurwinder',"meena","reeny","hidupur")
print(my_tuple)

('gurwinder', 'meena', 'reeny', 'hidupur')

In [24]:
for i in my_tuple:
  print(i)

gurwinder
meena
reeny
hidupur

In [26]:
type(i)

str

In [27]:
tuple_com=[i for i in my_tuple]
print(tuple_com)

['gurwinder', 'meena', 'reeny', 'hidupur']

In [29]:
type(tuple_com)

list

In [28]:
tuple(i for i in my_tuple)

('gurwinder', 'meena', 'reeny', 'hidupur')

In [30]:
#set comphrensions
my_set={('gurwinder',"canada"),('meena',"hindupur"),("harsha","kphb")}
print(my_set)

{('meena', 'hindupur'), ('gurwinder', 'canada'), ('harsha', 'kphb')}

In [31]:
type(my_set)

set

In [32]:
for i in my_set:
  print(i)

('meena', 'hindupur')
('gurwinder', 'canada')
('harsha', 'kphb')

In [34]:
set_com=[i for i in my_set]
print(set_com)

[('meena', 'hindupur'), ('gurwinder', 'canada'), ('harsha', 'kphb')]

In [ ]:
#dictionary comphrensions

In [44]:
my_dict={'canada':"ottawa","anantapur":"hindupur","telangana":'hyd'}
print(my_dict)

{'canada': 'ottawa', 'anantapur': 'hindupur', 'telangana': 'hyd'}

In [45]:
my_dict.keys()

dict_keys(['canada', 'anantapur', 'telangana'])

In [46]:
my_dict.values()

dict_values(['ottawa', 'hindupur', 'hyd'])

In [47]:
my_dict.items()

dict_items([('canada', 'ottawa'), ('anantapur', 'hindupur'), ('telangana', 'hyd')])

In [38]:
for i,j in my_dict.items():
  print(i,j)

canada ottawa
anantapur hindupur
telangana hyd

In [40]:
for city,country in my_dict.items():
  print(city,country)

canada ottawa
anantapur hindupur
telangana hyd

In [43]:
dict_com={city:country for city,country in my_dict.items()}
print(dict_com)

{'canada': 'ottawa', 'anantapur': 'hindupur', 'telangana': 'hyd'}