In [ ]:
#tuples are immutables datatypes which cannot be changed once after creation
#this is used for the where the imp one which
#we should not change
#tuples are enclosed in () brackets
#tuples are also contain multiple datatypes

In [ ]:
my_tuple=('1',"4879","gurwinder")
print(my_tuple)

('1', '4879', 'gurwinder')

In [ ]:
type(my_tuple)

tuple

In [ ]:
my_tup=1,2,3,"meena"
print(my_tup)

(1, 2, 3, 'meena')

In [ ]:
type(my_tup)

tuple

In [ ]:
#tuple indexing
#indexing and slicing same here also
#thers is no difference

In [ ]:
my_tuple[1]

'4879'

In [ ]:
print(my_tuple)

('1', '4879', 'gurwinder')

In [ ]:
#tuple methods

In [ ]:
#

In [ ]:
# 18dec2023
#sets are an unordered collection of unique elements
#sets cannot have duplicates
#sets are mutable
#you can create a non empty set with curley brackets by specifying by a comma

In [ ]:
empty_set=set()

In [ ]:
type(empty_set)

set

In [ ]:
non_empty_set={'a',"b",4879,"9784"}
print(non_empty_set)

{'b', '9784', 'a', 4879}

In [ ]:
type(non_empty_set)

set

In [ ]:
#sets wil not contain duplicates

In [ ]:
my_set={'meena',"meena","gurwinder","canada","canada"}
print(my_set)

{'gurwinder', 'meena', 'canada'}

In [ ]:
#lets create one list just example to make you people understand

In [ ]:
my_list=['1',"canada","meena","meena","gurwinder","harsha","harsha"]
print(my_list)

['1', 'canada', 'meena', 'meena', 'gurwinder', 'harsha', 'harsha']

In [ ]:
#add
my_set.add('usa')

In [ ]:
print(my_set)

{'gurwinder', 'meena', 'usa', 'canada'}

In [ ]:
#update
my_set.update([4879,'chennai',"hyd"])

In [ ]:
print(my_set)

{'gurwinder', 'chennai', 'hyd', 'usa', 4879, 'meena', 'canada'}

In [ ]:
#remove()
#remove to remove an element or item from the set
#remove takes element as an argument

In [ ]:
print(my_set)

{'gurwinder', 'chennai', 'hyd', 'usa', 4879, 'meena', 'canada'}

In [ ]:
my_set.remove('usa')

In [ ]:
print(my_set)

{'gurwinder', 'chennai', 'hyd', 4879, 'meena', 'canada'}

In [ ]:
#union method
#union method returns the union of two sets

In [ ]:
a={1,2,3,4,5}
b={4,5,6,7,8}
print(a)
print(b)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [ ]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#intersection
#it returns the intersection of two sets
# & is the intersection operator

In [ ]:
a.intersection(b)

{4, 5}

In [ ]:
a&b

{4, 5}

In [ ]:
print(a)
print(b)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [ ]:
#difference method
#difference method returns the difference of two methods
# difference of set b

In [ ]:
#this will gives the set of elements only in a but should not return the values in b

a.difference(b)

{1, 2, 3}

In [ ]:
#a-b
a-b

{1, 2, 3}

In [ ]:
#same here also it returns the elements only in b but should not return the values in a
b.difference(a)

{6, 7, 8}

In [ ]:
b-a

{6, 7, 8}

In [ ]:
#symmentric difference
#it will not returns the matching values which in a and b
#but it returns the both a and b values

In [ ]:
a.symmetric_difference(b)

{1, 2, 3, 6, 7, 8}

In [ ]:
#dictionaries

In [ ]:
my_dict ={}

In [ ]:
type(my_dict)

dict

In [1]:
my_dict={'name':"meena","place":"hindupr","gurwinder":"canada","gurwinder":"canada"}
print(my_dict)

{'name': 'meena', 'place': 'hindupr', 'gurwinder': 'canada'}

In [ ]:
#even dictionaries wil not contain duplicates

In [ ]:
#dictionary methods

In [ ]:
#keys()
my_dict.keys()

dict_keys(['name', 'place', 'gurwinder'])

In [ ]:
#values()
my_dict.values()

dict_values(['meena', 'hindupr', 'canada'])

In [ ]:
#items()
#this will returns the list of key_value pair
my_dict.items()

dict_items([('name', 'meena'), ('place', 'hindupr'), ('gurwinder', 'canada')])

In [ ]:
#get() method
#will returns the value if we pass key
#if that key is present only it returns if not it wont returns anything
my_dict.get('place')

'hindupr'

In [ ]:
my_dict.get('usa')

In [ ]:
#same indexing and slicing also
#same here also means
#indexing and slicing also same in sets and dictionary

In [2]:
# 19dec2023
#dictionary methods continuation

print(my_dict)

{'name': 'meena', 'place': 'hindupr', 'gurwinder': 'canada'}

In [5]:
#update
my_dict.update({'place':"hyd"})

In [6]:
print(my_dict)

{'name': 'meena', 'place': 'hyd', 'gurwinder': 'canada'}

In [9]:
#pop()
my_dict.pop('gurwinder')

'canada'

In [10]:
print(my_dict)

{'name': 'meena', 'place': 'hyd'}

In [1]:
list1=['harsha',"hyd","canada"]
list2=['delhi',"telangana","gurwinder"]


print(list1)
print(list2)

['harsha', 'hyd', 'canada']
['delhi', 'telangana', 'gurwinder']

In [2]:
my_lists=list(zip(list1,list2))

In [3]:
my_lists

[('harsha', 'delhi'), ('hyd', 'telangana'), ('canada', 'gurwinder')]

In [5]:
type(my_lists)

list

In [4]:
dict(my_lists)

{'harsha': 'delhi', 'hyd': 'telangana', 'canada': 'gurwinder'}

In [6]:
type(dict(my_lists))

dict

In [ ]:
#till now we have completed the tuples sets and dictionary topics