In [ ]:
#loops are like the block of code which executes repeatedly
#in some situations we have to write the code multiple time but
#this loops redece that kind of burdern

In [ ]:
#in python we have two types of loops mainly:
#1.for loop
#2.while loop

In [ ]:
#for loop

#python for loops are used to loop through the iterable object(like list,tuple,set etc)
#and perform the same action for each entry
#
#for loop is allows you to iterate through a list
#performing the same action on the list

In [ ]:
#while loop
#while loop is some what similar to the if atatement
#it excutes the code inside it if condition is true
#while loop continues to execute the code repeatedly as long as condition is true

In [ ]:
#for loop

In [ ]:
cities =['pune',"mumbai","chennai","nagpur","babglore"]
print(cities)

['pune', 'mumbai', 'chennai', 'nagpur', 'babglore']

In [ ]:
for gurwinder in cities:
  print(gurwinder)

pune
mumbai
chennai
nagpur
babglore

In [ ]:
for i in cities:
  print(i)

pune
mumbai
chennai
nagpur
babglore

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#tomorrow we have to continue from here
#21 dec 2023 we have to start from here

In [ ]:
n=10
m=20
if n>10:

   if m>9:

     print('second statment is ture')
else:

    print('third statement is true')

third statement is true

In [ ]:
n=9
m=20
if n<10:

   if m>9:

     print('second statment is ture')
else:

    print('third statement is true')

second statment is ture

In [ ]:
for i in range(1,11):
  print('gurwinder')

gurwinder
gurwinder
gurwinder
gurwinder
gurwinder
gurwinder
gurwinder
gurwinder
gurwinder
gurwinder

In [ ]:
for i in range(1,11):
  print("hello hii")

hello hii
hello hii
hello hii
hello hii
hello hii
hello hii
hello hii
hello hii
hello hii
hello hii

In [ ]:
#enumurate

In [ ]:
for i in enumerate(range(1,11)):
  print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)
(7, 8)
(8, 9)
(9, 10)

In [ ]:
my_list=['gurwinder',"meena","canada"]
print(my_list)

['gurwinder', 'meena', 'canada']

In [ ]:
my_list*2

['gurwinder', 'meena', 'canada', 'gurwinder', 'meena', 'canada']

In [ ]:
for i in my_list:
  print(i)

gurwinder
meena
canada

In [ ]:
for i in enumerate(my_list):
  print(i)

(0, 'gurwinder')
(1, 'meena')
(2, 'canada')

In [ ]:
#example 2

In [ ]:
#suppouse if you want to squares the numbes in a list

In [ ]:
list_num=[2,4,5,8]
print(list_num)

[2, 4, 5, 8]

In [ ]:
for i in list_num:
  i=i**2
  print(i)

4
16
25
64

In [ ]:
2**3

8

In [ ]:
#this squaring we have to do with for loop
for i in list_num:
  squared_num =i**2
  print(squared_num)

4
16
25
64

In [ ]:
for i in list_num:
  i=i*2
  print(i)

4
8
10
16

In [ ]:
for i in list_num:
  i=i+100
  print(i)

102
104
105
108

In [ ]:
print(list_num)

[2, 4, 5, 8]

In [ ]:
for i in list_num:
  i=i-1
  print(i)

1
3
4
7

In [ ]:
num_list=[1,3,4,5,6,7,8,9,10]
print(num_list)

[1, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
num_list*2

[1, 3, 4, 5, 6, 7, 8, 9, 10, 1, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in num_list:
  i=i*2
  print(i)

2
6
8
10
12
14
16
18
20

In [ ]:
#lets see what we can see means
#direclty we are not going for the printing num
#we wil store these in some where else

In [ ]:
print(num_list)

[1, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
squared_numbers=[]

for i in num_list:
  i=i**2
  squared_numbers.append(i)
print(squared_numbers)

[1, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
for i in num_list:
  i=i**2
  print(i)

1
9
16
25
36
49
64
81
100

In [ ]:
print(list_num)

[2, 4, 5, 8]

In [ ]:
for i in list_num:
  print(i)

2
4
5
8

In [ ]:
for i in list_num:
  i=i*2
  print(i)

4
8
10
16

In [ ]:
empty_list=[]

for i in list_num:
  i=i*2
  empty_list.append(i)
print(empty_list)

[4, 8, 10, 16]

In [ ]:
print(list_num)
print(empty_list)

[2, 4, 5, 8]
[4, 8, 10, 16]

In [ ]:
zip_lists=zip(list_num,empty_list)
print(zip_lists)

<zip object at 0x794d2b09d6c0>

In [ ]:
dict(zip_lists)

{2: 4, 4: 8, 5: 10, 8: 16}

In [ ]:
#from tomorrows 22 dec 2023 we have to continue from here
#

In [ ]:
#contutation from the above class

In [ ]:
#22dec2023

In [ ]:
#another example

In [ ]:
#suppouse if we want to print the square of those numbers which is
#only even .lets see

In [ ]:
my_list=[2,3,4,5,6,7,8]
print(my_list)

[2, 3, 4, 5, 6, 7, 8]

In [ ]:
for i in my_list:
  print(i)

2
3
4
5
6
7
8

In [ ]:
for i in my_list:
  i=i**2
  print(i)

4
9
16
25
36
49
64

In [ ]:
for i in my_list:
  i=i**2
  if i%2==0:

    print(i)

4
16
36
64

In [ ]:
for i in my_list:
  i=i**2
  if i%2==1:
    print(i)

9
25
49

In [ ]:
for i in my_list:
  i=i**2
  if i%2!=0:
    print(i)

9
25
49

In [ ]:
#range function
#range function is used to get sequence of numbers
#it takes three arguments
#start,stop,step

In [ ]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(1,5):
  i=i+10
  print(i)

11
12
13
14

In [ ]:
for i in range(1,10,3):
  i=i**2
  print(i)

1
16
49

In [ ]:
#another example
#if we want to find the sum of squares of numbers in list

In [ ]:
print(my_list)

[2, 3, 4, 5, 6, 7, 8]

In [ ]:
sum=10

for i in range(1,10):
  i=sum+i
  print(i)

11
12
13
14
15
16
17
18
19

In [ ]:
#till now we have seen the for loops for list objects
#lets seethis with strings and tuples

In [ ]:
#example

In [ ]:
#i want to print all the characters seperately
#

In [ ]:
my_charact="i want to print all the characters seperately"
print(my_charact)

i want to print all the characters seperately

In [ ]:
for i in my_charact:
  print(i)

i

w
a
n
t

t
o

p
r
i
n
t

a
l
l

t
h
e

c
h
a
r
a
c
t
e
r
s

s
e
p
e
r
a
t
e
l
y

In [ ]:
for i in enumerate(my_charact):
  print(i)

(0, 'i')
(1, ' ')
(2, 'w')
(3, 'a')
(4, 'n')
(5, 't')
(6, ' ')
(7, 't')
(8, 'o')
(9, ' ')
(10, 'p')
(11, 'r')
(12, 'i')
(13, 'n')
(14, 't')
(15, ' ')
(16, 'a')
(17, 'l')
(18, 'l')
(19, ' ')
(20, 't')
(21, 'h')
(22, 'e')
(23, ' ')
(24, 'c')
(25, 'h')
(26, 'a')
(27, 'r')
(28, 'a')
(29, 'c')
(30, 't')
(31, 'e')
(32, 'r')
(33, 's')
(34, ' ')
(35, 's')
(36, 'e')
(37, 'p')
(38, 'e')
(39, 'r')
(40, 'a')
(41, 't')
(42, 'e')
(43, 'l')
(44, 'y')

In [ ]:
#split method
# from which we want to split we can split it

In [ ]:
print(my_charact)

i want to print all the characters seperately

In [ ]:
my_split=my_charact.split(' ')
print(my_split)

['i', 'want', 'to', 'print', 'all', 'the', 'characters', 'seperately']

In [ ]:
for i in my_charact:
  if i not in 'i':
    print(i)

w
a
n
t

t
o

p
r
n
t

a
l
l

t
h
e

c
h
a
r
a
c
t
e
r
s

s
e
p
e
r
a
t
e
l
y

In [ ]:
for i in my_split:
  if i not in ['all','the']:
    print(i)

i
want
to
print
characters
seperately

In [ ]:
#lets see for loop with the tuples

In [ ]:
a=('a',"b","c","d")
print(a)

('a', 'b', 'c', 'd')

In [ ]:
type(a)

tuple

In [ ]:
for i in a:
  print(i)

a
b
c
d

In [ ]:
cities_captial=[('telanga','hyd'),("canada","ottawa"),("usa","whashington")]
print(cities_captial)

[('telanga', 'hyd'), ('canada', 'ottawa'), ('usa', 'whashington')]

In [ ]:
for state,captial in cities_captial:
  print(state,captial)

telanga hyd
canada ottawa
usa whashington

In [ ]:
#another example
#lets convert this list of tuples into a dictionary

In [ ]:
cities_captial_dict=dict(cities_captial)
print(cities_captial_dict)

{'telanga': 'hyd', 'canada': 'ottawa', 'usa': 'whashington'}

In [ ]:
#till here 22 dec 2023 class completed

In [ ]:
#lets continue from tomorrow
# from here we have to from next class

In [ ]:
for i in (1,2,3):
  print(i)

1
2
3

In [ ]:
#while loop
#while loop statement is repeatedly execute a single statement or group of statement as
#long as condition is true
#

In [ ]:
i=1
while i<10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9

In [ ]:
i=2
while i<20:
  print(i)
  i=i+2

2
4
6
8
10
12
14
16
18

In [ ]:
i=1
while i<10:
  print('while loop')
  i=i+1

while loop
while loop
while loop
while loop
while loop
while loop
while loop
while loop
while loop

In [ ]:
i=3

while i<30:
  print(i)
  i=i+5

3
8
13
18
23
28

In [ ]:
i=5

while i<=50:
  print(i)
  i+=10

5
15
25
35
45

In [ ]:
#break continue and pass

In [ ]:
x=0

while x<10:
  x=x+2
  if x==5:
    print(x)
    break

In [ ]:
x=0
while x<5:
  print(x)
  x=x+1

0
1
2
3
4

In [ ]:
x=0

while x<5:
  print(x)
  if x==3:
    print('break')
    break
  x=x+1

0
1
2
3
break

In [ ]:
#continue
x=0

while x<5:
  x=x+1
  if x==2 or x==4:
    print(x)
    continue
  print(x)

1
2
3
4
5

In [ ]:
#continue
x=0

while x<5:
  x=x+1
  if x==2:
    print(x)
    continue
  print(x)

1
2
3
4
5

In [ ]:
x=0
while x<5:
  x=x+1
  if x==2:
    print(x)
    continue
  print(x)

1
2
3
4
5

In [ ]:
#continue
x=0

while x<5:
  x=x+1
  if x==2 or x==4:
    print(x)

2
4

In [ ]:
#continue
x=0

while x<5:
  x=x+1
  if x==2 or x==4:
    print(x)
    continue
  print(x)

1
2
3
4
5

In [ ]:
# 27dec2023 contunation

In [12]:
i=1

while i<10:
  i=i+1

  print(i)

2
3
4
5
6
7
8
9
10

In [13]:
#lets go for the decrement
i=10

while i<10:
  i=i+i
  print(i)

In [14]:
#see the decrement over here
i=10

while i>1:
  i=i-1
  print(i)

9
8
7
6
5
4
3
2
1

In [17]:
#sum all the  numbers below the 10

i=1
sum=0

while i<10:
  i=i+i
  sum=sum+i
  print(sum)
print(sum)

2
6
14
30
30

In [2]:
i=1
sum=0

while i<10:
  i=i+1
  sum=sum+i

  print(sum)
print(sum)

2
5
9
14
20
27
35
44
54
54

In [5]:
2+3+4+5+6+7+8+9+10

54

In [8]:
i=1
sum=0

while i<10:
  i=i+1
  sum=sum+i
print(sum)

54

In [7]:
i=1
sum=0

while i<10:
  i=i+1
  sum=sum+i
  print(sum)

2
5
9
14
20
27
35
44
54

In [ ]:
#till here we have completed the loops and iterations
#completed on 27dec2023